<!DOCTYPE html>  
                                          
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/paintings.css">
</head>




<body>  
      <div class="2015"><h1><a href="../index.html">Xingzi Gu</a></h1><div>
      
      <div class="bio"><p><a href="bio-page.html">Bio</a></p></div>
      
       <div class="circle"><a href="change background color"> &#9711;</a></div>


         <span class="box-fade">
          <div class="image"><a href="partials/2012/p1.html" >
          <img src="../2012/acryic on paper 25 20cm 3th5.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Acrylic on Paper<br> 25 x 20 cm<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2012/p2.html" >
          <img src="../2012/acrylic on paper 11.69 x 16.53 in.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Acrylic on Paper<br> 12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2012/p3.html" >
          <img src="../2012/arylic on paper 11.69 x 16.53.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Acrylic on Paper<br>12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2012/p4.html" >
          <img src="../2012/ink   on paper 11.69 x 16.53 in.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2012/p5.html" >
          <img src="../2012/ink on paper 11.69 x 16.53 in.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Water color on paper<br> 28 x 36 cm<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2012/p6.html" >
          <img src="../2012/ink on paper 5 7 in.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>

        
              


                    
       <div class="insta">
         <a href="https://instagram.com/_kat_ness/" target="_blank"><img src="../insta.png" width=30px; height=30px;>
        <div class="yellowinsta"><img src="../yellow insta.png" width=30px; height=30px;></div></a>
        </div>
        
        <div class="email">
          <a href="mailto:xingzi.gu@stonybrook.edu" target="_blank"><img src="../email.png" width=30px; height=30px;>
          <div class="yellowemail"><img src="../yellow email.png" width=30px; height=30px;></div></a>
        </div> 



</body>

</html>













