<!DOCTYPE html>  
                                          
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/paintings.css">
</head>




<body>  
      <div class="2015"><h1><a href="../index.html">Xingzi Gu</a></h1><div>
      
      <div class="bio"><p><a href="bio-page.html">Bio</a></p></div>
      
       <div class="circle"><a href="change background color"target="_blank"> &#9711;</a></div>


         <span class="box-fade">
          <div class="image"><a href="partials/2014/p1.html">
          <img src="../2014/7.5 H x 9.1 W.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 7.5 x 9.1 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2014/p2.html">
          <img src="../2014/DSC02436.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2014/p3.html">
          <img src="../2014/DSC02428.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br>12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2014/p4.html">
          <img src="../2014/DSC02437.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2014/p5.html">
          <img src="../2014/water colour on paper 28 36cm 6th2 (2).JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Water color on paper<br> 28 x 36 cm<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2014/p6.html">
          <img src="../2014/DSC02446.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2014/p7.html">
          <img src="../2014/DSC02427.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>  
        
        <span class="box-fade">
          <div class="image"><a href="partials/2014/p8.html">
          <img src="../2014/DSC02475.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>  

        <span class="box-fade">
          <div class="image"><a href="partials/2014/p9.html">
          <img src="../2014/water colour on paper 28 36cm 13th2.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Water Color on Paper<br> 28 x 36 cm<br></div></div>
        </span>  


        
              


                    
       <div class="insta">
         <a href="https://instagram.com/_kat_ness/" target="_blank"><img src="../insta.png" width=30px; height=30px;>
        <div class="yellowinsta"><img src="../yellow insta.png" width=30px; height=30px;></div></a>
        </div>
        
        <div class="email">
          <a href="mailto:xingzi.gu@stonybrook.edu" target="_blank"><img src="../email.png" width=30px; height=30px;>
          <div class="yellowemail"><img src="../yellow email.png" width=30px; height=30px;></div></a>
        </div> 



</body>

</html>













