<!DOCTYPE html>  
                                          
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/paintings.css">
</head>




<body>  
      <div class="2015"><h1><a href="../index.html">Xingzi Gu</a></h1><div>
      
      <div class="bio"><p><a href="bio-page.html">Bio</a></p></div>
      
       <div class="circle"><a href="change background color"target="_blank"> &#9711;</a></div>


         <span class="box-fade">
          <div class="image"><a href="painting page.html" >
          <img src="../oil on canvas 36 48inch july.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 48 x 36 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p2.html" >
          <img src="../2015/12 H x 17 W.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p3.html" >
          <img src="../2015/12 H x 17 W .JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br>12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p4.html" >
          <img src="../2015/12 H x 17 W  .JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p5.html" >
          <img src="../2015/12 H x 17 W   .JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p6.html" >
          <img src="../2015/12 H x 17 W    .JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p7.html" >
          <img src="../2015/12 H x 17 W      .JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>  
        
        <span class="box-fade">
          <div class="image"><a href="partials/2015/p8.html" >
          <img src="../2015/12 H x 17 W        .JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>  

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p9.html" >
          <img src="../2015/12 H x 17 W         .JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>  


        <span class="box-fade">
          <div class="image"><a href="partials/2015/p10.html" >
          <img src="../2015/12 H x 17 W          .JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>  


        <span class="box-fade">
          <div class="image"><a href="partials/2015/p11.html" >
          <img src="../2015/12 H x 17 W             .jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span>  


        <span class="box-fade">
          <div class="image"><a href="partials/2015/p12.html" >
          <img src="../2015/DSC03054.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span> 

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p13.html" >
          <img src="../2015/fitness oil on canvas 36 48 in october .jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Fitness<br>Oil on canvas<br> 36 x 48 in<br></div></div>
        </span> 

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p14.html" >
          <img src="../2015/IMG_0159.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 12 x 17 in<br></div></div>
        </span> 

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p15.html" >
          <img src="../2015/oil on canvas 38 24 in april.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 38 x 24 in<br></div></div>
        </span> 

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p16.html" >
          <img src="../2015/oil on canvas 22 12 1 inch april.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 22 x 12 in<br></div></div>
        </span> 

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p17.html" >
          <img src="../2015/oil on canvas 11 14 in march.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 11 x 14 in<br></div></div>
        </span> 


        <span class="box-fade">
          <div class="image"><a href="partials/2015/p18.html" >
          <img src="../2015/oil on canvas 24 18 in march.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 24 x 18 in<br></div></div>
        </span>  

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p19.html" >
          <img src="../2015/oil on canvas 24 30inch 2015.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 24 x 30 in<br></div></div>
        </span>  

        <span class="box-fade">
          <div class="image"><a href="partials/2015/p20.html" >
          <img src="../2015/oil on canvas 24 30 inch march 2015.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 24 x 30 in<br></div></div>
        </span>  


        <span class="box-fade">
          <div class="image"><a href="partials/2015/p21.html" >
          <img src="../2015/oil on canvas 24 182015.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 24 x 30 in<br></div></div>
        </span>  


        <span class="box-fade">
          <div class="image"><a href="partials/2015/p22.html" >
          <img src="../2015/oil on canvas 38 24 in april larry clark.jpg" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 38 x 24 in<br></div></div>
        </span>  

        <span class="box-fade">
          <div class="image"><a href="ppartials/2015/p23.html" >
          <img src="../2015/oil on canvas paper 15 20.JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 15 x 20 in<br></div></div>
        </span>  


        <span class="box-fade">
          <div class="image"><a href="partials/2015/p24.html" >
          <img src="../2015/oil on canvas paper 15 20 (2).JPG" width="240" height="180"></a>
          <div class="box"></div>
          <div class="description">Untitled<br>Oil on canvas<br> 15 x 20 in<br></div></div>
        </span>  
        


              


                    
       <div class="insta">
         <a href="https://instagram.com/_kat_ness/" target="_blank"><img src="../insta.png" width=30px; height=30px;>
        <div class="yellowinsta"><img src="../yellow insta.png" width=30px; height=30px;></div></a>
        </div>
        
        <div class="email">
          <a href="mailto:xingzi.gu@stonybrook.edu" target="_blank"><img src="../email.png" width=30px; height=30px;>
          <div class="yellowemail"><img src="../yellow email.png" width=30px; height=30px;></div></a>
          
         
        </div> 



</body>

</html>













