<!DOCTYPE html>                                            
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/about.css">
</head>
<body>
      <h1><a href="../index.html">Xingzi Gu</a></h1>
      
      <div class="bio"><p><a href="bio-page.html">Bio</a></p></div>
      
       <div class="circle"><a onclick="changeBGColor()" target="_blank"> &#9711;</a></div>
       
        <div class="insta">
         <a href="https://instagram.com/_kat_ness/" target="_blank"><img src="../insta.png" width=30px; height=30px;>
        <div class="yellowinsta"><img src="../yellow insta.png" width=30px; height=30px;></div></a>
        </div>
        
        <div class="email">
          <a href="mailto:xingzi.gu@stonybrook.edu" target="_blank"><img src="../email.png" width=30px; height=30px;>
          <div class="yellowemail"><img src="../yellow email.png" width=30px; height=30px;></div></a>
        </div>
 
<center>
 <br>
  <br>
   <br>
<a href="../resume .doc" download> Download resume/CV here</a>
 <br>
  <br>

<h3>Education</h3>
<ul>
  <li>2014 - 2017 Bachelor of Fine Arts, University of Auckland, New Zealand.</li>
  <li>2015 Exchange visit at Stony Brook University, New York, US.</li>
</ul>

<h3>Achievements </h3>
<ul>
  <li>2015 Denise Gerard Scholarships, Auckland University.</li>
  <li>2015 featured in the Originals for $1000 and Under Collection on Saatchi Art's homepage.</li>
  <li>2015 Best Cover Award, Stony Brook University Media Association. </li>
  <li>2014 Rosemary Grice Memorial Prize, Auckland University.</li>
  <li>2012 The winner of Auckland Secondary School Art Competition, The Original Art Sale.</p>
  <li>2012-2013 Excellent Award in Visual Art, Wangaparaoa College.</li>
  <li>2011-2013 Excellent Award in Practical Art, Wangaparaoa College.  </li>
  <li>2011, 2013 Excellent Award in Graphics, Wangaparaoa College.</li>
  <li>2012-2013 Excellent Endorsement Visual Art, Wangaparaoa College.</li>
  <li>2011-2013 Excellent Endorsement Practical Art, Wangaparaoa College.</li>
  <li> 2011, 2013 Excellent Endorsement Graphics, Wangaparaoa College.</li>
  <li> 2012 Merit Endorsement Fashion, Wangaparaoa College.</li>
</ul>

<h3>Work History </h3>
<ul>
  <li> Graphic Designer Internship WUSB 90.1fm Radio, August-December 2015.
    <p class="details"> Duties include designing flyers, concert posters and brochures. </p>
  </li>
  <li> Teaching Assistant Lecturer Takafumi Ide's photo assistant, August-December 2015.
    <p class="details">Duties include preparation for classes, minding equipment room and dark room.</p>
  </li>
  <li>Art Director Assistant The Stony Brook Press Magazine, April 2015-present.
    <p class="details">Duties include illustration, design layout with InDesign and Photoshop.</p>
  </li>
  <li>Street Artist Sketch quick portraits, Queen Street, Auckland, 2014.</li>
  <li> Class presentative First year fine arts undergraduate, 2014.
    <p class="details"> Duties include linking student and staff to provide better learning environment. </p>
  </li>
  <li> University Tour Guide Elam school of Fine art open day, 05 October 2014.
    <p class="details">Duties include explaining admission process, curriculum, and portfolio preparation. </p>
  </li>
  <li> Front of Host George Fraser Gallery "Design Shanghai/Aesthetics City", 01 April 2014.
    <p class="details"> Duties include serving, catering drinks and chattering with visitors.</p>
  </li>
  <li> Receptionist Volunteer at Estuary arts Centre, September 2013.
    <p class="details"> Duties include explaining artworks to costumers, transact sales.</p>
  </li>
</ul>

<h3> Exhibition and Event History</h3>
<ul>
  <li> "Modern Art by Modern Artist" SAC Art Gallery, Stonybrook, NY, April 2015.</li>
  <li>"so where's home” George Fraser Gallery, Auckland, August 2014.</li>
  <li>"Coca-Cola Easter Show Art Competition" ASB showground, Auckland, April 2014. </li>
  <li>"The Original Art Sale" Vodafone Events Centre, Auckland, May 2013, 2014. </li>
  <li>"Cash & Carry Exhibition" Orewa Estuary Arts Centre, Auckland, January 2014. </li>
  <li>"Affordable Art Sale" Mairangi Arts Centre, Auckland, November 2013.</li>
  <p>Online portfolio can be viewed at: http://www.saatchiart.com/xingzi.gu</p>
</ul>

<h3>International Travel</h3>
<ul>
  <li> Frequently recurring trip to Shanghai, Beijing and Nanjing, China; Auckland, New Zealand.</li>
  <li> Visits various Museums, Galleries and major exhibitions over the last 5 years:
    <ul>
      <li> National Museum of Art, Beijing, China. </li>
      <li> 798 Art Zone, Beijing, China.</li>
      <li> Nanjing Sifang Art Museum, Nanjing, China. </li>
      <li> Intercity Pavilions Project Shanghai Biennale 2012, Shanghai, China. </li>
      <li> Auckland Art Gallery, Auckland, New Zealand.</li>
      <li> If you were to live here, Auckland Triennial 2013, Auckland, New Zealand.</li>
    </ul>
  </li>
  <li> Additional travels: New York, Miami, US, 2015. Cancun, Mexico, 2015.</li>

</ul>



  </body>
  </html>