<!DOCTYPE html>  
                                          
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../../../styles/paintings.css">
</head>


<body>  
      <div class="2015"><h1><a href="../../../index.html">Xingzi Gu</a></h1><div>
      
      <div class="bio"><p><a href="../../bio-page.html">Bio</a></p></div>
      
       <div class="circle"><a href="change background color"target="_blank"> &#9711;</a></div>
       
       <div class="insta">
         <a href="https://instagram.com/_kat_ness/" target="_blank"><img src="../../../insta.png" width=30px; height=30px;>
        <div class="yellowinsta"><img src="../../../yellow insta.png" width=30px; height=30px;></div></a>
        </div>
        
        <div class="email">
         <a href="email page" target="_blank"><img src="../../../email.png" width=30px; height=30px;>
        <div class="yellowemail"><img src="../../../yellow email.png" width=30px; height=30px;></div></a>
        </div>

<img src="../../../2013/ink on paper A5 20th6 (3).JPG" width="960" height="720">



</body>

</html>


